<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="font_Icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/chat copy.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bot.js"></script>
    <script src="js/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
    <script src="js/botSpeech.js"></script>
    <script>
        // var he = document.documentElement.clientHeight;
        var he = window.innerHeight;
    </script>
</head>

<body>

    <div class="chatContainer">
        <div class="chatBox" ref="chatBox">

            <div class="chatBox-info">
                <div class="chatBox-kuang" ref="chatBoxkuang" style="display:block">
                    <div class="chatBox-content">
                        <div class="chatBox-content-demo" id="chatBox-content-demo">
                            <!-- 普通信息 打招呼-->
                        </div>
                    </div>
                    <script>
                        $('.chatBox-content').css('height',(he*0.98-55)+'px');
                    </script>
                    <!--<textarea id="phraseDiv" style="width:500px;height:40px"></textarea>-->
                    <div class="chatBox-send">
                        <button id="chat-yuyin" class="btn-default-styles"><i class="iconfont icon-yuyin"></i>
                        </button>
                        <button id="chat-wenzi" class="btn-default-styles"><i class="iconfont icon-jianpan"></i>
                        </button>
                        <div class="div-textarea" contenteditable="true"></div>

                        <!--<div class="div-yuyin" onclick="change()">点击 说话</div>-->
                        <button id="chat-fasong" class="btn-default-styles"><i class="iconfont icon-icon_sent"></i>
                        </button>
                    </div>
                </div>
            </div>
            <script>
                $('.chatBox-info').css('height',he*0.98+'px');
            </script>
            <div id="yuyin-block">
                <textarea id="phraseDiv" ></textarea>
                <!-- <textarea name="phraseDiv"  id="phraseDiv"></textarea>-->
            </div>
        </div>
        <script>
            $('.chatBox').css('height',he*0.98+'px');
        </script>
    </div>
    <script>
        $('.chatContainer').css('padding',he/100+'px 0');
    </script>
    <script>
        //未读信息数量为空时
        var totalNum = $(".chat-message-num").html();
        if (totalNum == "") {
            $(".chat-message-num").css("padding", 0);
        }
        $(".message-num").each(function () {
            var wdNum = $(this).html();
            if (wdNum == "") {
                $(this).css("padding", 0);
            }
        });
        $('input[name=projector]').on('click',function () {
            alert($(this).attr('id'));
        })
        //      发送信息
        $("#chat-fasong").click(function () {
            //$('input[name=projector]').prop('disabled',true);
            $.each($('input[name=projector]'),function (i) {
                $(this).prop('disabled',true).attr('name','NULL-'+$(this).attr('name')).attr('id','NULL-'+$(this).attr('id'));
                $(this).next('label').attr('for','NULL-'+$(this).next('label').attr('id'));
            })
            $.each($('input[name=meeting-room]'),function (i) {
                $(this).prop('disabled',true).attr('name','NULL-'+$(this).attr('name')).attr('id','NULL-'+$(this).attr('id'));
                $(this).next('label').attr('for','NULL-'+$(this).next('label').attr('id'));
            })
            var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>')
            if (textContent != "") {
                sendMessage(textContent)
                $(document).ready(function () {

                });
            }
        });
    </script>

</body>

</html>